<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEntryPointService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/TryingStuff/EntryPointService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEntryPointService"
                contract="IEntryPointService" name="WSHttpBinding_IEntryPointService">
                <identity>
                    <servicePrincipalName value="host/CORSAIRONE" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>